.c_scr{
	width: 600px;
	height: 100px;
	overflow: scroll;
	border: 2px solid red;
}
.h2_1{
	padding: 20px 20px;
	cursor: pointer;
}

.p_1{
	padding: 20px 20px;
	display: none;
}
/* previous*/
 .pre_1{width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    border: 2px solid red;
    padding: 2px;
  }

  .f_s{
    font-size: 18px;
  }
  p {
    clear: left;
    margin: 10px;
  }
  .sh_im{
  	/*display: none;*/
  }